<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>Welcome to my App <%= user.name %></h1>
    <ul>
        <% funFacts.forEach(fact => { %>
            <li><%= fact %></li>
        <% }); %>
    </ul>
</body>
</html>